.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", "Arial", sans-serif;
  padding-top: 210px;
}

body {
  background-image: url("./pexels-maria-orlova-4946965.jpg");
}

.header {
  position: fixed;
  top: 0;
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px 15px;
  width: 1890px;
  background-color: rgb(0, 0, 0, 0.7);
}

.header-text {
  color: white;
  font-size: 20px;
  font-family: "Inter", "Arial", sans-serif;
}

.weather {
  display: flex;
  /* border: 2px solid paleturquoise; */
  /* gap: 200px; */
  width: 800px;
  height: 405px;
  /* padding: 10px; */
  /* flex-direction: column; */
  justify-content: space-between;
  background-color: rgb(217, 217, 217, 0.5);
  border-radius: 50px;
  margin-top: 42px;
  font-size: 20px;
}

.left-weather {
  /* border: 2px solid palevioletred; */
  width: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-weather {
  width: 400px;
  max-height: 400px;
  /* font-size: 20px; */
  display: flex;
  /* border: 2px solid palegreen; */
  flex-direction: column;
  /* gap: 36px; */
  justify-content: space-evenly;
}

.right-top-weather {
  /* border: 2px solid blue;
  background-color: blue; */
  display: flex;
  height: 500px;
  padding-top: 61px;
  flex-direction: column;
  gap: 20px;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  margin: 0;
}

.city {
  padding-left: 5px;
}

.text {
  display: flex;
  gap: 10px;
  align-items: center;
  /* border: 2px solid blue; */
}

.weather-details {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-left: 5px;
  /* border: 2px solid red; */
  margin-bottom: 50px;
}

.temp {
  font-size: 100px;
  font-weight: 300;
  /* background-color: orange; */
}
.cloud-icon {
  font-size: 200px;
  color: #dadff7;
}
.sun-icon {
  font-size: 200px;
  color: rgb(255, 96, 96);
}
.thunderstorm-icon {
  font-size: 200px;
  color: rgb(0, 0, 0);
}
.drizzle-icon {
  font-size: 200px;
  color: rgb(171, 210, 255);
}
.rain-icon {
  font-size: 200px;
  color: rgb(72, 146, 231);
}
.snow-icon {
  font-size: 200px;
  color: rgb(255, 255, 255);
}
.tornado-icon {
  font-size: 200px;
  color: rgb(255, 213, 139);
}
.smog-icon {
  font-size: 200px;
  color: rgb(181, 210, 233);
}
.volcano-icon {
  font-size: 200px;
  color: rgb(227, 117, 0);
}
.squalls-icon {
  font-size: 200px;
  color: rgb(191, 213, 225);
}

.desc {
  /* font-weight: 400; */
  color: #cae6ff;
  font-size: 25px;
}
/* .border {
  background-color: green;
} */

p {
  margin: 0;
  padding: 2px;
}

img {
  width: 300px;
  /* border: 2px solid yellow; */
}
